nav ul {
	padding: 0;
}
ul.sections > ul {
	margin-bottom: 1em;
}
ul.sections > li {
	font-size: 1.1em;
	font-weight: bold;
}
.li__1 > li:before {
  display: inline-block;
  padding-right: .1em;
  content: "\2523";
  font-size: 1em;
}
.li__1 > li li:before {
  display: inline-block;
  margin-left: 1em;
  padding-right: 1em;
  content: "\27A0";
  font-size: .9em;
}
