@gr: 1.618033989;

@rust: #b68b25;
@rustyGold: #d4b82b;
@citrus: #f6ab09;
@paleGold: #f6cf09;
@limeYellow: #f0ff24;
@silver: #5c6566;
@dullCyan: #304545;

/*all mixins take the width value as parameters*/

.moduleSize(@width){
	@height: (@width/@gr);
	
	width: @width;
	height: @height;	
}

/*  Grate.css by Pierre Alfred Pirault
*   fluid, em-based, content-module design
*   
*/

/*
*
*  Remember that certain properties in Normalize use pixels as their measuring device
*
*/
@import 'normalize.css';
@import 'GGS_snippet.css';

.grate {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.module {
	box-sizing: border-box;
	transition: 1s ease all;	

	/*Default module size************************ */
	.moduleSize(18em);

	margin: .2em .1em;
	padding: .2em .3236067978em;
	border: .5em solid black;

	overflow: auto;

	white-space: nowrap;
	text-align: left;
}

.x-small {
	.moduleSize(6em);
}
.small {
	.moduleSize(12em);
}
.large {
	.moduleSize(24em);
}
.x-large {
	.moduleSize(30em);
}

.expand, .expand-large, .expand-larger, .expand-x-large, .expand-largest {
	border-color: @rust;
}

.expand:hover, .expand-large:hover, .expand-larger:hover, .expand-x-large:hover, .expand-largest:hover {	
	color: @citrus;
	border: 0;
	background-color: @dullCyan;
	z-index: 1;
	box-shadow: 0 0 2em @rustyGold;
}

.expand:hover {
	.expand(@from, @to){
		margin:;
		width: ;
	}


	margin: -1.654101965em -2.9em;
	width: 24em;
	height: 14.83281573em;	
}

.expand-large:hover {
	margin: -3.50820393em -5.9em;
	width: 30em;
	height: 18.54101966em;
}

.expand-larger:hover {
	margin: -5.053288903em -8.4em;
	width: 35em;
	height: 21.63118961em;
}

.expand-x-large:hover {
	margin: -6.598373875em -10.9em;
	width: 40em;
	height: 24.72135955em;
}

.expand-largest:hover {
	margin: -8.143458847em -13.4em;
	width: 45em;
	height: 27.81152949em;
}

.x-small.expand:hover {
	margin: -5.362305899em -8.9em;
	width: 24em;
	height: 14.83281573em;
}

.module .module {
	position: inline;
	margin: -.2em;
}

/*Size - 2 Modules*/
@media screen and (min-width: 47.5em) {
	.grate {
		/*width: 37.4em;*/
	}
}
/*Size - 3 Modules*/
@media screen and (min-width: 60em) {
	.grate {
		/*width: 55.6em;*/
	}
}

/*Size - 4 Modules*/
@media screen and (min-width: 80em) {
	.grate {
		/*width: 74.5em;	*/	
	}
}