body {
  margin: 0;
  max-width: 70rem;
}

@media screen and (min-width: 70rem) {
  body {
    margin: 0 auto;
  }
}

main {
  /* support for IE11 */
  display: block;
}

nav li a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul:before,
ul,
ul:after {
  margin: 0;
  padding: 0;
}

ol {
  counter-reset: counter;
  list-style-type: none;
}  

ol li:before {
  content: counter(counter);
  counter-increment: counter;
}

fieldset {
  border-color: rgba(0, 0, 0, 0.1);
  padding-top: 1.5em;
  border-radius: 1em;
  margin: 0 auto;
}

fieldset legend {
  font: bold 1.2rem sans-serif;
  box-shadow: 0 1rem 1rem 0.5rem #ccf, -0.5rem -0.5rem 1rem 1rem #cca;
  margin-left: 0.5em;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 50%;
}

fieldset label {
  cursor: pointer;
}

fieldset input {
  width: 100%;
  box-sizing: border-box;
}

fieldset input:not(:last-of-type) {
  margin-bottom: 2em;
}

fieldset label:hover + input {
  background-color: rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 30em) {
  fieldset {
    width: 50%;    
  }
}

@media screen and (min-width: 50em) {
  fieldset {
    width: 25%;    
  }
}

.hide {
  display: none;
}

@keyframes loading {
  0% { background-color: white; opacity: 0; }
  100% { background-color: gray; opacity: 1; }
}
/*@keyframes loading-before {
  0% { top: 45%; left: 45%; width: 0; height: 0; }
  25% { left: 55%; }
  50% { top: 55%; width: 0.5em; height: 2em; }
  75% { left: 45%; }
  100% { top: 45%; left: 45%; width: 0; height: 0; }
}
@keyframes loading-after {
  0% { top: 45%; left: 45%; width: 2em; height: 0.5em; }
  25% { top: 55%; }
  50% { left: 55%; width: 0.5em; height: 2em; }
  75% { top: 45%; }
  100% { top: 55%; left: 55%; width: 2em; height: 0.5em; }
}*/
@keyframes loading-before {
  0% { top: 45%; left: 45%; width: 0; height: 0; }
  25% { left: 55%; }
  50% { top: 55%; width: 0.5em; height: 2em; }
  75% { left: 45%; }
  100% { top: 45%; left: 45%; width: 0; height: 0; }
}
@keyframes loading-after {
  0% { top: 45%; left: 45%; width: 2em; height: 0.5em; }
  25% { top: 55%; }
  50% { left: 55%; width: 0; height: 0; }
  75% { top: 45%; }
  100% { top: 45%; left: 45%; width: 2em; height: 0.5em; }
}
.loading {
  position: relative;
  background-color: green;
}
.loading:before {
  background-color: red;
  animation: loading-before 1s infinite ease-in-out normal;
  transform: translate(-50%, -50%);
}
.loading:after {
  background-color: blue;
  animation: loading-after 1s infinite ease-in-out normal;
  transform: translate(-50%, -50%);
}
.loading:before,
.loading:after {
  box-shadow: 0 0 5px 5px gray;
  content: "";
  position: absolute;
}
/*.loading > * {
  opacity: 0.2;
}*/
