body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
}

ol {
  counter-reset: counter;
  list-style-type: none;
}  

li:before {
  content: counter(counter);
  counter-increment: counter;
}
