@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700,400);
@import url(https://fonts.googleapis.com/css?family=Titan+One);

@import 'build/normalize/GGS_snippet.css';
@import 'build/normalize/Normalize.css';
@import 'build/Grate.css';
@import 'build/animations.css';
@import 'build/text-styles.css';
@import 'build/list-styles.css';
@import 'build/image-styles.css';
@import 'build/overlay.css';
@import 'build/garden-gallery.css';

@import 'build/navigation.css' screen and (max-width: 40em);
@import 'build/navigation.desktop.css' screen and (min-width: 40em);

#view {
	margin: 0 0.5em;
}

header {
	width: 100%;
  border-top: 2em groove #304545;
  border-bottom: 2em groove #304545;
	text-align: center;
}
header.border-celtic {
	border: 15px solid transparent;
	border-image: url('border.jpg') 30 30 repeat;
}
header.font-1 {
	font-family: 'Titan One';
}
header > h1,
header > h2,
header > h3 {
	display: inline-block;
	color: black;
  font-size: 2em;
  text-shadow: 0 0 0.2em #d4b82b;
	position: relative;
	z-index: 2;
}
