@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700,400);

@import 'build/normalize/GGS_snippet.css';
@import 'build/normalize/Normalize.css';
@import 'build/Grate.css';
@import 'build/animations.css';
@import 'build/text-styles.css';
@import 'build/list-styles.css';

@import 'build/navigation.css' screen and (max-width: 40em);
@import 'build/navigation.desktop.css' screen and (min-width: 40em);

header {
  border-top: 2em groove #304545;
  border-bottom: 2em groove #304545;
	text-align: center;
}
header > h1 {
	display: inline-block;
	color: black;
  font-size: 2em;
  text-shadow: 0 0 0.2em #d4b82b;
	position: relative;
	z-index: 2;
}
