@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700,400);

@import 'build/normalize/GGS_snippet.css';
@import 'build/normalize/Normalize.css';
@import 'build/Grate.css';
@import 'build/animations.css';
@import 'build/navigation.css';
@import 'build/list-styles.css';

header {
  border-top: 2em groove #304545;
  border-bottom: 2em groove #304545;
}
header > h1 {
  color: #d4b82b;
  font-size: 2em;
  text-align: center;
  text-shadow: 0 0 .2em yellow;
  margin-left: auto;
}
header > h1 > span {
  font-family: 'Lobster Two', cursive;
}
ul {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
