@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700,400);

@import 'Grate/Grate';
@import 'Grate/animations';
@import 'Grate/list-styles';

body {  
	font-family : 'Anonymous Pro', cursive;
  	padding-top: 5em;

  /* 16px / 24px */
  	font-size: 1em;
  	line-height: 1.5em;
}

header {
	margin: 1em 0 1em 0;
	border-top: 2em groove @dullCyan;
	border-bottom: 2em groove @dullCyan;

	& > h1 {
		color: @rustyGold;
		font-size: 2em;
		text-align: center;
		text-shadow: 0 0 .2em yellow;
		margin-left: auto;

		& > span {
			font-family: 'Lobster Two', cursive;
		}
	}
}

ul {
	align-items: center;
}