ul {
  list-style-type: none;
}
.li__1 > li:before {
  display: inline-block;
  padding-right: .1em;
  content: "\2523";
  font-size: 1em;
}
.li__1 > li li:before {
  display: inline-block;
  margin-left: 1em;
  padding-right: 1em;
  content: "\27A0";
  font-size: .9em;
}
