@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700,400);
@import 'normalize.css';
@import 'GGS_snippet.css';
/* all mixins take the width value as parameters */
/*  
* Grate.css by Pierre Alfred Pirault
*   fluid, em-based, content-module design
*/
/*
*  Remember that certain properties in Normalize use pixels as their measuring device
*/
.grate {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.module {
  box-sizing: border-box;
  transition: 1s ease all;
  /* Default module size */
  width: 18em;
  height: 11.1246118em;
  margin: .2em .1em;
  padding: .2em .3236067978em;
  border: .5em solid black;
  overflow: auto;
  white-space: nowrap;
  text-align: left;
}
.x-small {
  width: 6em;
  height: 3.70820393em;
}
.small {
  width: 12em;
  height: 7.41640786em;
}
.large {
  width: 24em;
  height: 14.83281573em;
}
.x-large {
  width: 30em;
  height: 18.54101966em;
}
.expand,
.expand-large,
.expand-larger,
.expand-x-large,
.expand-largest {
  border-color: #b68b25;
}
.expand:hover,
.expand-large:hover,
.expand-larger:hover,
.expand-x-large:hover,
.expand-largest:hover {
  color: #f6ab09;
  border: 0;
  background-color: #304545;
  z-index: 1;
  box-shadow: 0 0 2em #d4b82b;
}
.expand:hover {
  margin: -1.65410196em -2.9em;
  width: 24em;
  height: 14.83281573em;
}
.expand-large:hover {
  margin: -3.50820393em -5.9em;
  width: 30em;
  height: 18.54101966em;
}
.expand-larger:hover {
  margin: -5.0532889em -8.4em;
  width: 35em;
  height: 21.63118961em;
}
.expand-x-large:hover {
  margin: -6.59837388em -10.9em;
  width: 40em;
  height: 24.72135955em;
}
.expand-largest:hover {
  margin: -8.14345885em -13.4em;
  width: 45em;
  height: 27.81152949em;
}
.x-small.expand:hover {
  margin: -5.3623059em -8.9em;
  width: 24em;
  height: 14.83281573em;
}
.module .module {
  position: inline;
  margin: -0.2em;
}
/*Size - 2 Modules*/
@media screen and (min-width: 47.5em) {
  .grate {
    /*width: 37.4em;*/
  }
}
/*Size - 3 Modules*/
@media screen and (min-width: 60em) {
  .grate {
    /*width: 55.6em;*/
  }
}
/*Size - 4 Modules*/
@media screen and (min-width: 80em) {
  .grate {
    /*width: 74.5em;	*/
  }
}
