@keyframes navBounce {
	0% {
		width: 0%;
	}
	50% {
		width: 100%;
	}
	100% {
		width: 75%;
	}
}
.animate__text-shadow {
  color: black;
  -webkit-transition: all 2.4s ease-out;
          transition: all 2.4s ease-out;
}
.animate__text-shadow:hover {
  color: #d4b82b;
	text-shadow: 0 1em 3em #304545;
}
@media screen and (min-width: 60em) {
	@keyframes navBounce {
		0% {
			width: 0%;
		}
		50% {
			width: 75%;
		}
		100% {
			width: 25%;
		}
	}
}
