@import url(https://fonts.googleapis.com/css?family=Skranji);

nav.sun {
	position: fixed;
	display: inherit;
	left: 0;
	top: 0;
	margin-top: -0.5em;
	color: #f6ab09;
}
nav.sun::after{
	font-size: 2em;
	content: "☀";
}
nav.sun:hover {
	height: 100%;
	width: 75%;
	border: 1em solid #f6ab09;
	border-left: 0;
	border-top: 0;
	color: white;
	background-color: #304545;
	animation: navBounce 0.8s 1;
}
nav.sun > ol, nav.sun > ul {
  position: fixed;
	top: 25%;
	list-style: none;	
	display: none;
}
nav.sun > ol li, nav.sun > ul li {
	box-sizing: border-box;
	margin: 1em;
	padding: 0.5em 0.5em 0 1em;
	border-bottom: 0.5em groove #f6ab09;
	border-radius: 1em;
	background-color: black;
	letter-spacing: 0.075em;
	width: 100%;
}
nav.sun li a {
	display: block;
	width: 100%;
}
nav.sun > ol li:hover, nav.sun > ul li:hover {
	border: 0.5em ridge #f6ab09;
	padding: 0 0 0 0.5em;
}
nav.sun:hover > ol, nav.sun:hover > ul {
	display: block;
}
nav.sun:hover::after {
	content: none;
}

/* nav.livity */
nav.livity {
	font-family: 'Skranji';
	text-align: center;
	margin: 1em;
}
nav.livity > ol li, nav.livity > ul li {
	display: inline-block;
	box-sizing: border-box;
	padding: 0.5em;
	background-color: black;
	border-radius: 1em;
	letter-spacing: 0.075em;
}
nav.livity li a {
	display: block;
	width: 100%;
}
nav.livity > ol li.active, nav.livity > ul li.active {
	border-radius: 0;
}
