@import url(https://fonts.googleapis.com/css?family=Skranji);

nav.sun {
	position: static;
	left: initial;	
	margin: 0;
	width: 25%;
}
nav.sun::after {
	content: none;
}
nav.sun:hover {
	width: auto;
}
nav.sun > ol, nav.sun > ul {
	position: static;
	display: block;
	top: initial;
	list-style: none;	
}

/* nav.livity */
nav.livity {
	font-family: 'Skranji';
	text-align: center;
	margin: 1em;
}
nav.livity > ol li, nav.livity > ul li {
	display: inline-block;
	box-sizing: border-box;
	padding: 0.5em;
	background-color: black;
	border-radius: 1em;
	letter-spacing: 0.075em;
}
nav.livity li a {
	display: block;
	width: 100%;
}
nav.livity > ol li.active, nav.livity > ul li.active {
	border-radius: 0;
}
